@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Go-Play</h1>
</div>
<br />
<br />

<body style="background-color:lightgray">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body border border-success">
                    <h3 class="card-title text-center">Abrir Proyecto</h3>
                    <p class="card-text"></p>
                    <a href="/Proyectos/Abrir" class="btn btn-success">Abrir</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body border border-success">
                    <h3 class="card-title text-center">Nuevo Proyecto</h3>
                    <p class="card-text"></p>
                    <a href="/Proyectos/Crear" class="btn btn-success">Crear</a>
                </div>
            </div>
        </div>
    </div> 
</body>
