@model GoPlay.web.Models.Proyecto

@{
    ViewData["Title"] = "Crear Proyecto";
}
<div class="text-center">
    <h3>@ViewData["Title"]</h3>
</div>

    <body style="background-color:lightgray">

        <br/>
        <br/>
        <br/>
        <br/>

        <form asp-action="Crear" method="post">
            <div>
                <input asp-for="NombreObra" type="text" class="Display-2" placeholder="  Nombre de la Obra">
            </div>
            <div class="text-center">
                <button type"submit" class="btn btn-success">Guardar</button>
                <a href="/Proyectos/Abrir" class="btn btn-secondary">Volver</a>
            </div>
        </form>
    </body>
