@model GoPlay.web.Models.Proyecto

@{
    ViewData["Title"] = "Editar Proyecto";
}
<div class="text-center">
    <h3>@ViewData["Title"]</h3>
</div>

<body style="background-color:lightgray">

    <br/>
    <br/>
    <br/>
    <br/>

    <form asp-action="Editar" method="post">
        <div>
            <input type="hidden" asp-for="ID">   
            <input type="text" asp-for="NombreObra" class="Display-1" placeholder="  Nombre Obra">           
        </div>
        <div class="text-center">
            <button type"submit" class="btn btn-success">Guardar</button>
            <a href="/Proyectos/Abrir" class="btn btn-secondary">Volver</a>
        </div>
    </form>
</body>